<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>상세보기 페이지</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.0/jquery.min.js"></script>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.1/font/bootstrap-icons.css">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
          integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
          crossorigin="anonymous"></script>
  <style>
    #left-remote {
      position: fixed;
      top: 20px;
    }
    
    #right-remote {
      position: fixed;
      top: 20px;
      right: 20px;
    }
  </style>
  
  <script>
  
  </script>
</head>
<body>
<header></header>
<main>
  <div class="row">
    <!--        왼쪽 리모컨-->
    <div class="col-sm-2" id="left-remote">
      <div class="border">지도구역</div>
      <button class="btn btn-secondary">예약하기</button>
      <div class="border">예약정보 구역</div>s
    </div>
    <div class="col-sm-8"></div>
    <!--        오른쪽 리모컨-->
    <div class="col-sm-2" id="right-remote">
      <div class="border text-center d-flex flex-column">
        <a href="#"><i class="bi bi-arrow-up-circle-fill" style="font-size: 20px; color: tomato"></i></a>
        <a href="#"><i class="bi bi-arrow-down-circle-fill" style="font-size: 20px; color: tomato"></i></a>
        <button>로그인</button>
        <button>로그아웃</button>
      </div>
    </div>
  </div>

  <div>
    <div class="row">
      <div class="col-sm-8 mx-auto">
        <p>상세</p>
      </div>
    </div>
  </div>

</main>
<footer></footer>
<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
</body>
</html>